<!-- The trending categories list -->

{% assign MAX = 10 %}

{% assign size_list = '' | split: '' %}
{% assign category_list = '' | split: '' %}

{% for category in site.categories %}
  {% assign size = category | last | size %}
  {% assign size_list = size_list | push: size %}

  {% assign category_str = category | first | append: '::' | append: size %}
  {% assign category_list = category_list | push: category_str %}
{% endfor %}

{% for project in site.projects %}
  {% for category in project.categories %}
    {% assign size = category | size %}
    {% assign size_list = size_list | push: size %}

    {% assign category_str = category | append: '::' | append: size %}
    {% assign category_list = category_list | push: category_str %}
  {% endfor %}
{% endfor %}

{% assign size_list = size_list | sort | reverse %}

{% assign category_list = category_list | sort_natural %}

{% assign trending_categories = '' | split: '' %}

{% for size in size_list limit: MAX %}
  {% for category_str in category_list %}
    {% assign category = category_str | split: '::' %}
    {% assign category_name = category | first %}
    {% assign category_size = category | last | plus: 0 %}
    {% if category_size == size %}
      {% unless trending_categories contains category_name %}
        {% assign trending_categories = trending_categories | push: category_name %}
        {% break %}
      {% endunless %}
    {% endif %}
  {% endfor %}
{% endfor %}

{% if trending_categories.size > 0 %}
  <section>
    <h2 class="panel-heading">Trending</h2>
    <div class="d-flex flex-wrap mt-3 mb-1 me-3">
      {% for category_name in trending_categories %}
        {% assign url = category_name | slugify | url_encode | prepend: '/categories/' | append: '/' %}
        <a class="post-tag btn btn-outline-primary" href="{{ url | relative_url }}">{{ category_name }}</a>
      {% endfor %}
    </div>
  </section>
{% endif %}