---
layout: page
# All the Tags of posts and projects.
---

{% assign all_docs = site.posts | concat: site.projects %}
{% assign all_tags = "" | split: "" %}

{% for doc in all_docs %}
  {% if doc.tags %}
    {% for t in doc.tags %}
      {% unless all_tags contains t %}
        {% assign all_tags = all_tags | push: t %}
      {% endunless %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% assign sorted_tags = all_tags | sort_natural %}

<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% for t in sorted_tags %}
    <div>
      <a class="tag" href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t }}
        {% assign docs_with_tag = all_docs | where_exp:"doc", "doc.tags contains t" %}
        <span class="text-muted">{{ docs_with_tag | size }}</span>
      </a>
    </div>
  {% endfor %}
</div>
